.form-background {
    background: url('/statics/images/cars.png'); /* adjust path if needed */
    background-size: cover;
    background-position: center -300px;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 10px;
}
